.searchPage {
  flex: 0.82;
  padding: 15px;
  margin: 0 10px;
  background-color: rgb(245, 245, 245);
  height: 660px;
  overflow-y: scroll;
}

.searchPage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
}

.searchPage__filter > h2 {
  margin-left: 10px;
}

.searchPage > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}